*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0077ff;
    transition: 0.3s;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 70px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.1);
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
li{
    position: relative;
    list-style: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.circle{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: #0077ff;
    border-radius: 50%;
    z-index: 0;
    transition: 0.3s;
}
a{
    transform: translateY(-46%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-decoration: none;
    color: #0077ff;
    font-weight: 500;
}
.title{
    margin-bottom: 15px;
    display: block;
    background-color: #fff;
    width: auto;
    padding: 5px 10px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    visibility: hidden;
    opacity: 0;
}
.title::before{
    content: '';
    position: absolute;
    bottom: -12%;
    left: 38%;
    width: 12px;
    height: 12px;
    z-index: -1;
    background: #fff;
    transform: rotate(45deg);
}
li:hover .title{
    transition: 1s;
    transform: translateY(-40%);
    visibility: visible;
    opacity: 1;
}
.icon{
    position: relative;
    display: block;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: black;
}
li:nth-child(1) .icon , li:hover .icon{
    color: #fff;
    transition: 0.3s;
}
li:nth-child(2):hover .circle{
    transition: 1s;
    left: 74px;
}
li:nth-child(1):hover .icon{
    color: black;
}